@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{

--Very-Dark-Blue: hsl(234, 12%, 34%);
--Grayish-Blue: hsl(229, 6%, 66%);
--Very-Light-Gray: hsl(0, 0%, 98%);

}
 body{
     font-family: 'poppins' 'sans-serif';
     font-size: 15px;
     background:  rgba(202, 202, 202, 0.253) ;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
     height: 100vh;

 }

 .text{
     text-align: center;
     margin: 0 auto;
     margin-top: 3%;
     width: 26%;
 }
 .colortext{
    font-family: 'poppins' 'sans-serif';
    font-weight: 200;
    color: var(--Very-Dark-Blue);
 }
 h1.bold{
     font-weight: 400;
     margin:1.25rem 0px ;
 }

.text >p{
    text-align: center;
    padding: 30px 0px;
}
.main{
    display: flex;
    justify-content: center;
     flex-wrap: wrap;
    margin:  auto ;
    width: 70%;

}
.box{
    height: 12.5em;
    font-family: 'poppins' 'sans-serif';
    font-weight: 400;
    width: 15.625em;
    background-color: white;
   box-shadow:  3px 6px 33px -8px rgba(0,0,0,0.73);
    border-radius: 7px;
    margin: 20px ;
  

}
.supervisor{
    border-top: 4px solid hsl(180, 62%, 55%);
}
.teambuilder{
    border-top: 4px solid hsl(0, 78%, 62%);
}
.calculator{
    border-top: 4px solid hsl(212, 86%, 64%);
}
.karma{
    border-top: 4px solid hsl(34, 97%, 64%);
}

 .supervisor, .calculator{
    transform: translateY(50%);
}
.box h3{
    font-size: 28px;
}
.box p{
    font-size: 14px;
}
.box h3, .box p{
    padding: 15px 10px 5px 25px;
}
svg{
   
    margin-left: 70%;
}



/* for tablet----------- */


@media screen and (max-width:1194px){

    .main{
       
        width: 90%;
    }
    .text >p{
        padding: 10px;
    
        
 }

 .text > .bold{
     margin: 1rem 0px ;
 }
}

 @media screen and (max-width:940px){

    .main{
       
        width: 100%;
    }
 }

 @media screen and (max-width:840px){

    .bold{
        margin: 0px 0px;
    }
    .text p{
        padding: 0px;
    }
    .box{
        margin: 12px;
    }
 }

 @media screen and (max-width:790px){

  .text{
      width: 100%;
      margin-bottom: 20px;
  }
  .text p{
      width: 50%;
      margin: auto;
}

    .main{
        align-items: center;
    }

    .main .supervisor, .main .calculator{
        transform: translate(0%,0%);
    }
    footer{
        height: 10vh;
        background-color: red;
    }
 }

   

